[submodule "third_party/emsdk"]
	path = third_party/emsdk
	url = https://github.com/emscripten-core/emsdk.git
[submodule "third_party/opencv"]
	path = third_party/opencv
	url = https://github.com/opencv/opencv.git
[submodule "third_party/NumCpp"]
	path = third_party/NumCpp
	url = https://github.com/dpilger26/NumCpp.git
