# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Gitignore.md

# Optional REPL history
.node_repl_history# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

src/generated


GypAndroid.mk
libpicards.target.mk
libpicards_jni.target.mk

!third_party/**/*.a
!third_party/**/*.so

third_party/build
third_party/opencv-android-sdk
third_party/openssl_include
third_party/openssl

/android/sdk/sdk-lib/obj/

/android/**/.project
/android/**/.classpath
/android/**/.settings
/android/**/bin
/android/**/.externalNativeBuild

Pods/


src/cpp/CMakeLists.txt
cmake-build-debug

.env
.envrc

android/fastlane/report.xml
.vscode/.react
./codepush/
*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

/android/**/.cxx
autosvg-wasm.js
autosvg-wasm.wasm