.mainContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding: 2rem;
  :first-child {
    flex: 1;
  }
}

.card {
  position: relative;
}

.image {
  max-width: calc(100% - 2rem);
  max-height: calc(100% - 80px);
  object-fit: contain;
  position: absolute;
}

.dropzone {
  display: flex;
  align-items: center;
  border: "2px dashed";
  border-radius: "10px";
}

.loaderWrapper {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
}